<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles-adventure.css">
    <link rel="stylesheet" href="/styles-navbar.css" />
</head>
<body>

<div th:replace="~{fragments/topnav}">
</div>

<div id="main-page">
    <div id="stats">STATS</div>
    <img src="decorative-clipart-grey-16.png" alt="" id="separator-left">
    <div id="center">
        <div id="description">TEXT</div>
        <img src="clipart-arrow-decorative-8-transparent.png" alt="" id="separator-middle">
        <div id="choices">CHOICES</div>
    </div>
</div>



</body>
</html>