<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/styles-navbar.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/topnav}">
</div>

<div id="main-page">
    <p>Choose your tale</p>
    <ul th:each="tale: ${tales}">
        <li>
            <a th:href="@{load-adventure(id = ${tale.id})}" th:text="${tale.title}"></a>
        </li>
    </ul>
</div>



</body>
</html>